language: ruby
cache: bundler
sudo: false
rvm:
  - 1.9.3-p551
  - 2.0.0-p648
  - 2.1.10
  - 2.2.7
  - 2.3.4
  - 2.4.1
  - ruby-head
  - jruby-1.7.26
  - jruby-9.1.5.0
gemfile:
  - gemfiles/Gemfile.activerecord-2.3.x
  - gemfiles/Gemfile.activerecord-3.0.x
  - gemfiles/Gemfile.activerecord-3.1.x
  - gemfiles/Gemfile.activerecord-3.2.x
  - gemfiles/Gemfile.activerecord-4.0.x
  - gemfiles/Gemfile.activerecord-4.1.x
  - gemfiles/Gemfile.activerecord-4.2.x
  - gemfiles/Gemfile.activerecord-5.0.x
matrix:
  allow_failures:
    - rvm: ruby-head
  exclude:
    - rvm: ruby-head
      gemfile: gemfiles/Gemfile.activerecord-2.3.x
    - rvm: ruby-head
      gemfile: gemfiles/Gemfile.activerecord-3.0.x
    - rvm: ruby-head
      gemfile: gemfiles/Gemfile.activerecord-3.1.x
    - rvm: ruby-head
      gemfile: gemfiles/Gemfile.activerecord-3.2.x
    - rvm: ruby-head
      gemfile: gemfiles/Gemfile.activerecord-4.0.x
    - rvm: ruby-head
      gemfile: gemfiles/Gemfile.activerecord-4.1.x

    - rvm: jruby-9.1.5.0
      gemfile: gemfiles/Gemfile.activerecord-2.3.x
    - rvm: jruby-9.1.5.0
      gemfile: gemfiles/Gemfile.activerecord-3.0.x
    - rvm: jruby-9.1.5.0
      gemfile: gemfiles/Gemfile.activerecord-3.1.x

    - rvm: 2.4.1
      gemfile: gemfiles/Gemfile.activerecord-2.3.x
    - rvm: 2.4.1
      gemfile: gemfiles/Gemfile.activerecord-3.0.x
    - rvm: 2.4.1
      gemfile: gemfiles/Gemfile.activerecord-3.1.x
    - rvm: 2.4.1
      gemfile: gemfiles/Gemfile.activerecord-3.2.x
    - rvm: 2.4.1
      gemfile: gemfiles/Gemfile.activerecord-4.0.x
    - rvm: 2.4.1
      gemfile: gemfiles/Gemfile.activerecord-4.1.x

    - rvm: 2.3.4
      gemfile: gemfiles/Gemfile.activerecord-2.3.x
    - rvm: 2.3.4
      gemfile: gemfiles/Gemfile.activerecord-3.0.x
    - rvm: 2.3.4
      gemfile: gemfiles/Gemfile.activerecord-3.1.x
    - rvm: 2.3.4
      gemfile: gemfiles/Gemfile.activerecord-3.2.x
    - rvm: 2.3.4
      gemfile: gemfiles/Gemfile.activerecord-4.0.x

    - rvm: 2.2.7
      gemfile: gemfiles/Gemfile.activerecord-2.3.x
    - rvm: 2.2.7
      gemfile: gemfiles/Gemfile.activerecord-3.0.x
    - rvm: 2.2.7
      gemfile: gemfiles/Gemfile.activerecord-3.1.x
    - rvm: 2.2.7
      gemfile: gemfiles/Gemfile.activerecord-3.2.x
    - rvm: 2.2.7
      gemfile: gemfiles/Gemfile.activerecord-4.0.x

    - rvm: 2.1.10
      gemfile: gemfiles/Gemfile.activerecord-2.3.x
    - rvm: 2.1.10
      gemfile: gemfiles/Gemfile.activerecord-3.0.x
    - rvm: 2.1.10
      gemfile: gemfiles/Gemfile.activerecord-3.1.x
    - rvm: 2.1.10
      gemfile: gemfiles/Gemfile.activerecord-5.0.x

    - rvm: 2.0.0-p648
      gemfile: gemfiles/Gemfile.activerecord-2.3.x
    - rvm: 2.0.0-p648
      gemfile: gemfiles/Gemfile.activerecord-4.2.x
    - rvm: 2.0.0-p648
      gemfile: gemfiles/Gemfile.activerecord-5.0.x

    - rvm: 1.9.3-p551
      gemfile: gemfiles/Gemfile.activerecord-5.0.x
    - rvm: 1.9.3-p551
      gemfile: gemfiles/Gemfile.activerecord-4.2.x
    - rvm: 1.9.3-p551
      gemfile: gemfiles/Gemfile.activerecord-4.1.x
    - rvm: 1.9.3-p551
      gemfile: gemfiles/Gemfile.activerecord-4.0.x

    - rvm: jruby-1.7.26
      gemfile: gemfiles/Gemfile.activerecord-5.0.x
    - rvm: jruby-1.7.26
      gemfile: gemfiles/Gemfile.activerecord-3.0.x
    - rvm: jruby-1.7.26
      gemfile: gemfiles/Gemfile.activerecord-2.3.x
